<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 일정 처리 SQL -->
<mapper namespace="com.diary.smart.dao.DiaryMapper">

	<!-- 일정 정보 저장 -->
	<insert id="insertDiary" parameterType="Diary">
		insert into ID_SC_TB (
		sc_no_pk, user_no_fk, sc_stdt, sc_endt, sc_con, sc_wt,
		sc_fin,
		sc_insdt, sc_dflag)
		values (
		SEQ_ID_SC_TB_sc_no_pk.nextval
		,
		#{user_no_fk}
		, #{sc_stdt}
		, #{sc_endt}
		, #{sc_con}
		, #{sc_wt}
		, #{sc_fin}
		, #{sc_insdt}
		, #{sc_dflag})
	</insert>

	<!-- 일정 삭제 -->
	<!-- 실제 삭제가아닌 수정으로 삭제플래그만 수정!!!! -->
	<update id="deleteDiary" parameterType="int">
		update ID_SC_TB set
		sc_dflag = 'Y' where sc_no_pk = #{sc_no_pk}
	</update>


	<!-- 일정 수정 -->
	<update id="updateDiary" parameterType="int">
		update ID_SC_TB set
		sc_stdt = #{sc_stdt}
		, sc_endt = #{sc_endt}
		, sc_con = #{sc_con}
		,
		sc_updt = #{sc_updt}
		where sc_no_pk = #{sc_no_pk}
	</update>

	<!-- 결제 완료 -->
<!-- 	<update id="bbb" parameterType="int">
		update ID_SC_TB set
		sc_fin = 'Y'
		where sc_no_pk = #{sc_no_pk}
	</update> -->

	<!-- 일정 조회 -->
	<select id="selectDiaryList" parameterType="int" resultType="Diary">
		select *
		from ID_SC_TB
		where
		sc_no_pk = #{sc_no_pk}
	</select>
	
	<!-- 일정 리스트 출력 -->
	<select id="selectDiary" resultType="Diary">
		select c_no_pk
	    , sc_stdt
	    , sc_endt
	    , sc_con
	    , sc_wt
		from ID_SC_TB 
		where user_no_fk = #{user_no_fk}
	</select>
	
	<!-- 동행 친구 등록 -->
	<insert id="insertCompagnie" parameterType="int">
		insert into ID_SCFRNO_TB values
		(#{sc_no_fk}, #{sc_frno})
	</insert>

</mapper> 
